<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DgsTakipSistemi_DGSTS_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DgsTakipSistemi_DGSTS_.Properties.Settings>
            <setting name="HedefSinavYili" serializeAs="String">
                <value>2026</value>
            </setting>
            <setting name="HedefGunlukSaat" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="HedefTestler" serializeAs="String">
                <value />
            </setting>
        </DgsTakipSistemi_DGSTS_.Properties.Settings>
    </userSettings>
</configuration>